*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.center {
  display: block;
  margin: auto ;
}
.Navbar {
  background-color: #212B95;

}
.Navbar h1 a {
  color: #fff;
  text-decoration: none;

}
.Navbar ul {
  display: flex;
  list-style: none;
  padding: 10px;
}
.Navbar ul li a {
  text-decoration: none;
  padding: 0 20px;
  color: #fff;
 
}

a {
text-decoration: none;
color: #000000;
font-weight: bold;
}
p{
color: #555;
}
.container{
max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.row{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}
.col-2{
flex-basis: 50%;
min-width: 300px;
}
.col-2 img{
max-width: 100%;
padding: 50px 0;
}

.col-2 h1{
font-size: 50px;
line-height: 60px;
margin: 25px 0;
}



.header .row {
margin-top: 70px;
}
.categories{
margin: 70px 0 ;
}
.col-3{
flex-basis: 30%;
min-width: 250px;
margin-bottom: 30px;
}
.col-3 img {
width: 100%;
}

.small-container {
max-width: 1080px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.col-4 {
flex-basis: 25%;
padding: 10px;
min-width: 200px;
margin-bottom: 50px;
}
.col-4 img {
	width: 100%;
	
}

.title{
text-align: center;
margin: 0 auto 80px ;
line-height: 60px;
color: #555;
}

h4 {
color: #555;

}
.col-4 p{
font-size: 14px;
}

small {
color: #555;
}


.Footer {
background: #212B95;
color: #8a8a8a;
font-size: 14px;

}


.Footer h3 {
color: black;
margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
min-width: 250px;

}

.Footer li {
color: black;
}

.copy {
text-align: center;
}

select {
padding: 5px ;
border: 1px solid #ff523b;
}

.page-btn {
margin: 0 auto 80px;
}
..page-btn span {
display: inline-block;
border: 1px solid #ff523b;
margin-left: 10px;
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
cursor: pointer;
}

.account {
padding: 50px 0;
background: #212B95;
}

.form {
background: #fff;
text-align: center;
padding: 20px 0;
margin: auto;
box-shadow: 0 0 20px 0px;
}
.form span {
font-weight: bold;
padding: 0 10px;
color: #555;
width: 100px;
display: inline-block;
}


.form form {

padding: 20px 20px;

}
form input {
width: 100%;
height: 30px;
margin: 10px 0;
padding: 0 10px;
border: 1px solid #ccc;
}

form .btn{
width: 100%;
border: none;
cursor: pointer;
margin: 10px 0;
}


tr {
text-align: center;
display: inline;
}
td {
width: 250px;
}
